<div class="router__outlet_wrapper">
  <div class="router__outlet_inner">
    <button nz-button nzType="default">Archive</button>
    <form class="project__form" [formGroup]="form" (ngSubmit)="submitForm()">
      <app-project-form
        formControlName="projectForm"
        [skillsOption]="skillsOption"
        [responsibilitiesOption]="responsibilitiesOption"
      ></app-project-form>
      <div class="projects__footer">
        <button
          nz-button
          nzType="primary"
          nzSize="default"
          type="submit"
          [disabled]="form.invalid"
        >
          Save
        </button>
        <button nz-button nzType="default" nzSize="default">Cancel</button>
      </div>
    </form>
  </div>
</div>
