<div class="router__outlet_wrapper">
  <div class="router__outlet_inner">
    <button nz-button nzType="primary" (click)="openProjectCreatePage()">
      Add project
    </button>

    <app-table
      [tableData]="projects"
      [tableHeader]="[
        'Name',
        'InternalName',
        'Domain',
        'Skills',
        'Responsibilities'
      ]"
      firstColumn="name"
      secondColumn="internalName"
      thirdColumn="domain"
      fourColumn="skills"
      fifthColumn="responsibilities"
      (sendId)="openProjectEditPage($event)"
    ></app-table>
  </div>
</div>
