.wrapper {
  display: flex;
}
.forms__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.cv__wrapper {
  height: 100%;
}
.form__footer {
  margin-top: 30px;
}
button:last-child {
  margin-left: 25px;
}
