<div class="wrapper">
  <div class="cv__wrapper">
    <nz-tabset nzTabPosition="left" [(nzSelectedIndex)]="tabIndex">
      <nz-tab
        *ngFor="let cv of cvs"
        [nzTitle]="titleTemplate"
        (nzClick)="selectCv(cv)"
      >
        <ng-template #titleTemplate>
          <span>
            <input [(ngModel)]="cv.name" ngDefaultControl />
          </span>
          <span
            nz-icon
            nzType="delete"
            nzTheme="outline"
            (click)="deleteCv(cv.id)"
          ></span>
        </ng-template>
      </nz-tab>
    </nz-tabset>
    <button nz-button nzShape="circle" nzType="primary" (click)="addCv()">
      <span nz-icon nzType="plus" nzTheme="outline"></span>
    </button>
  </div>
  <form
    *ngIf="cvs?.length"
    class="forms__wrapper"
    [formGroup]="form"
    (ngSubmit)="submitForm()"
  >
    <app-employee-form formControlName="employee"></app-employee-form>
    <button
      nz-button
      nzType="primary"
      nzSize="default"
      type="button"
      class="project__btn"
      (click)="addProject()"
    >
      Add project
    </button>
    <nz-collapse nzExpandIconPosition="right">
      <nz-collapse-panel
        @deleteProject
        formArrayName="projects"
        *ngFor="let project of projectsForm.controls; let i = index"
        [nzHeader]="selectedCv.projects[i]?.name"
        [nzExpandedIcon]="expandedIcon"
      >
        <ng-template #expandedIcon>
          <span
            nz-icon
            nzType="delete"
            class="ant-collapse-arrow"
            (click)="deleteProject(i)"
            [nzRotate]="0"
            (click)="$event.stopPropagation()"
          ></span>
        </ng-template>

        <app-project-form [formControlName]="i"></app-project-form>
      </nz-collapse-panel>
    </nz-collapse>
    <div class="form__footer">
      <button
        nz-button
        nzType="primary"
        nzSize="default"
        type="submit"
        [disabled]="form.invalid"
      >
        Save
      </button>
      <button
        type="button"
        nz-button
        nzType="default"
        nzSize="default"
        [routerLink]="employeesPagePath"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
