.wrapper {
  display: flex;
}
.forms__wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.cv__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    margin-top: 20px;
    span:hover {
      color: aquamarine;
    }
  }
}
.form__footer {
  margin-top: 30px;
}
button:last-child {
  margin-left: 25px;
}
span:hover {
  color: #40a9ff;
}
.project__btn {
  align-self: flex-end;
  margin-bottom: 15px;
}
