<div class="wrapper" [ngClass]="{ wrapper__collapsed: isCollapsed }">
  <ul
    nz-menu
    nzMode="vertical"
    nzTheme="light"
    [nzInlineCollapsed]="isCollapsed"
  >
    <li
      nz-menu-item
      nz-tooltip
      nzTooltipPlacement="right"
      [nzTooltipTitle]="isCollapsed ? 'Dashboard' : ''"
      nzSelected
      routerLinkActive="active"
    >
      <span nz-icon nzType="dashboard" nzTheme="outline"></span>
      <span
        ><a routerLink="dashboard" routerLinkActive="active">Dashboard</a></span
      >
    </li>
    <li nz-menu-item nzTitle="Employees" routerLinkActive="active">
      <span nz-icon nzType="form" nzTheme="outline"></span>
      <span
        ><a routerLink="/employees" routerLinkActive="active"
          >Employees</a
        ></span
      >
    </li>
    <li nz-menu-item nzTitle="Projects" routerLinkActive="active">
      <span nz-icon nzType="database" nzTheme="outline"></span>
      <span
        ><a routerLink="projects" routerLinkActive="active">Projects</a></span
      >
    </li>
  </ul>
  <div class="sidebar__footer">
    <nz-divider></nz-divider>
    <span class="icon" (click)="toggleCollapsed()">
      <span nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
    </span>
  </div>
</div>
