:host {
  display: block;
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 208px;
  transition: width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s;
}
.wrapper__collapsed {
  width: 50px;
  padding-left: 0px;
}
button {
  margin-bottom: 12px;
}
ul {
  flex: 1 0 auto;
}
.sidebar__footer {
  height: 40px;
  .icon {
    margin-left: 17px;
    cursor: pointer;
  }
}
nz-divider {
  margin-bottom: 5px;
}
.active {
  color: #1890ff;
}
