<nz-form-item>
  <nz-form-label nzFor="select" nzRequired>{{ label }} </nz-form-label>
  <nz-select
    [formControl]="formControl"
    [nzPlaceHolder]="placeholder"
    [nzShowArrow]="false"
    [nzMode]="multiselection ? 'multiple' : 'default'"
  >
    <nz-option
      *ngFor="let option of listOfOption"
      [nzLabel]="option.label"
      [nzValue]="option.value"
    ></nz-option>
  </nz-select>

  <small class="validation" *ngIf="formControl.dirty">
    {{ formControl.errors | getErrorMessage }}
  </small>
</nz-form-item>
