header {
  height: 48px;
  display: flex;
  background-color: #001529;
  box-shadow: inset 0px -1px 0px #f0f0f0;
  padding: 0 16.5px;
  justify-content: space-between;
  align-items: center;
  .logo {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      margin-left: 12px;
      font-weight: 700;
      font-size: 18px;
      color: #fff;
    }
  }
  .toolbar {
    display: flex;
    flex: 0 0 282px;
    align-items: center;

    .toolbar__item {
      margin-right: 25px;
      color: #fff;
    }
    .toolbar__item:last-child {
      margin-right: 0;
    }
  }
}
