<nz-table #basicTable [nzData]="tableData" [nzPageSize]="4">
  <thead>
    <tr>
      <th *ngFor="let elem of tableColumns.columnsHeaders">{{ elem }}</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let elem of basicTable.data; index as i"
      (click)="clickItem(elem.id)"
    >
      <!-- // id можем быть с большой, может быть с маленькой -->
      <td *ngFor="let column of tableColumns.columnsProperties">
        {{ elem.attributes[column] }}
      </td>
    </tr>
  </tbody>
</nz-table>
