<div class="router__outlet_wrapper">
  <div class="router__outlet_inner">
    <button nz-button nzType="primary">Add project</button>

    <app-table
      [tableData]="employees"
      [tableColumns]="{
        columnsHeaders: [
          'Name',
          'InternalName',
          'Domain',
          'Description',
          'Skills'
        ],
        columnsProperties: [
          'name',
          'internalName',
          'domain',
          'description',
          'skills'
        ]
      }"
    ></app-table>
  </div>
</div>
