<div class="router__outlet_wrapper">
  <div class="router__outlet_inner">
    <button nz-button nzType="primary">Add Employee</button>

    <app-table
      (sendItemId)="openEmployeeEditPage($event)"
      [tableData]="$employees | async"
      [tableColumns]="{
        columnsHeaders: [
          'FirstName',
          'LastName',
          'Email',
          'Description',
          'Skills'
        ],
        columnsProperties: [
          'firstName',
          'lastName',
          'email',
          'description',
          'skills'
        ]
      }"
    ></app-table>
  </div>
</div>
