<nz-form-item>
  <nz-form-label nzRequired>{{ label }}</nz-form-label>
  <nz-input-group [nzSuffix]="icon ? suffixTemplateInfo : null">
    <input
      nz-input
      [formControl]="formControl"
      [type]="type"
      [placeholder]="placeholder"
    />
  </nz-input-group>
  <ng-template #suffixTemplateInfo>
    <span nz-icon nzType="info-circle"></span>
  </ng-template>
  <small class="validation" *ngIf="formControl.dirty">
    {{ formControl.errors | getErrorMessage }}
  </small>
</nz-form-item>
