<!-- <div [formGroup]="form">
  <app-input
    formControlName="input"
    type="text"
    [placeholder]="'тут placeholder'"
    [label]="'тут label'"
    [icon]="'dw'"
    [errors]="{
      required: 'Please, specify the field',
      maxlength: 'Too many letters'
    }"
  ></app-input>
  <div>
    <app-textarea
      formControlName="textarea"
      [label]="'тут label'"
      [placeholder]="'тут placeholder'"
    ></app-textarea>
  </div>
  <div>
    <app-select
      formControlName="select"
      [label]="'тут label'"
      [placeholder]="'placeholder for select'"
      [listOfOption]="listOfOption"
    ></app-select>
  </div>
  <div>
    <app-datepicker
      formControlName="date"
      [label]="'тут label'"
      [placeholder]="'placeholder for datepicker'"
    ></app-datepicker>
  </div>
</div> -->
<router-outlet></router-outlet>
