<form [formGroup]="form" (ngSubmit)="submitForm()">
  <app-input
    formControlName="username"
    placeholder="Username"
    [label]="'auth.username' | translate"
  ></app-input>
  <app-input
    formControlName="password"
    type="password"
    placeholder="Password"
    [label]="'auth.password' | translate"
  ></app-input>
  <div class="details">
    <label nz-checkbox>{{ "auth.remember" | translate }}</label>
    <span>{{ "auth.passwordForgot" | translate }}</span>
  </div>
  <button nz-button nzType="primary" nzSize="large" nzBlock type="submit">
    {{ "auth.logIn" | translate }}
  </button>
</form>
