.wrap {
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  width: 100%;
  height: 100%;
  .lang__icon {
    align-self: flex-end;
    margin-top: 19px;
    margin-right: 23px;
    flex: 0 0 auto;
    cursor: pointer;
  }
  nz-spin {
    align-self: center;
    flex-basis: content;
    position: absolute;
    top: 40px;
  }
  .login__wrapper {
    flex: 1 0 auto;
    align-self: center;
    width: 360px;
    margin: 111.5px auto 0px;
    .login__title {
      display: flex;
      align-items: center;
      justify-content: center;
      .logo {
        margin-right: 17.43px;
      }
      span {
        font-family: "Avenir";
        font-style: normal;
        font-weight: 800;
        font-size: 33px;
        line-height: 38px;
        letter-spacing: 0.005em;
      }
    }
  }
  .question__icon {
    flex: 0 0 auto;
    align-self: flex-end;
    margin-right: 77px;
    margin-bottom: 42px;
  }
}
.wrap__dark {
  background: #000000;
  opacity: 0.3;
}
