<div [formGroup]="formControl">
  <div class="project__form_row">
    <app-input
      formControlName="name"
      placeholder="type name of project"
      label="Name"
      class="project__form_item"
    ></app-input>
    <app-datepicker
      formControlName="from"
      label="Start date"
      class="project__form_item"
    ></app-datepicker>
    <app-datepicker
      formControlName="to"
      class="project__form_item"
      label="End date"
    ></app-datepicker>
    <app-input
      formControlName="domain"
      placeholder="domain"
      label="Domain"
      class="project__form_item"
    ></app-input>
  </div>
  <div class="project__form_row">
    <app-input
      formControlName="internalName"
      placeholder=" type internalName"
      label="InternalName"
      class="project__form_item"
    ></app-input>
    <app-select
      [listOfOption]="skillsOption"
      formControlName="skills"
      placeholder="Type skills"
      class="project__form_item"
      label="Skills"
    ></app-select>
    <app-select
      [listOfOption]="responsibilitiesOption"
      formControlName="responsibilities"
      placeholder="Responsibilities"
      class="project__form_item"
      label="Responsibilities"
    ></app-select>
  </div>
  <div class="project__form_row">
    <app-textarea
      formControlName="description"
      label="Description"
      placeholder="type description of project"
      class="project__form_item"
    ></app-textarea>
  </div>
</div>
