// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";
.ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::before {
  content: none;
}
.ant-form-item-label > label::after {
  content: "*";
  margin-left: 5px;
  color: red;
}
.ant-divider-horizontal {
  margin: 0;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #fff;
}
nz-spin {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ant-spin-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ant-table {
  flex: 1 0 auto;
}
.ant-table-content {
  height: 400px;
  overflow-y: auto;
}
// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

// @primary-color: #1890ff;
