// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";
.ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::before {
  content: none;
}
.ant-form-item-label > label::after {
  content: "*";
  margin-left: 5px;
  color: red;
}
.ant-divider-horizontal {
  margin: 0;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #fff;
}
nz-spin {
  display: flex;
  flex-direction: column;
  height: 100%;
}
nz-select {
  min-width: 123px;
}
.ant-spin-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.ant-table {
  flex: 1 0 auto;
}
.ant-table-content {
  overflow-y: auto;
}
.ant-menu.ant-menu-inline-collapsed {
  width: 50px;
}
.ant-menu-item-selected a {
  color: rgba(0, 0, 0, 0.85);
}

.ant-menu-item-selected {
  color: black;
}
nz-tabs-nav {
  padding-left: 35px;
}

nz-tabset {
  flex: 1 0 auto;
}

.ant-tabs-left {
  width: 217px;
  padding: 0;
}

.ant-tabs-left > .ant-tabs-nav .ant-tabs-tab {
  padding: 0;
  width: 150px;
}
.ant-tabs-tab-btn {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.ant-tabs-tab .anticon {
  margin-right: 20px;
  align-self: center;
}

.ant-tabs-content {
  height: 100%;
}
// nz-collapse {
//   width: 820px;
// }
nz-tabset {
  height: 100%;
}

nz-tabset:has(nz-tabs-nav[ng-reflect-selected-index="1"]) {
  height: auto;
}

svg {
  transform: rotate(0) !important;
}
// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

// @primary-color: #1890ff;
