:host {
  height: 136px;
  display: block;
  width: 100%;
  flex: 0 0 auto;
}

nav {
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
  padding: 16px 0px;
  justify-content: space-between;
  padding-left: 24px;
}

.module__name {
  font-weight: 500;
  font-size: 20px;
  padding: 16px 0;
}
